.bar-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.graph-dark {
    background-color: #222;
}

.graph-light {
    background-color: #f8f7f0;
}

.barexplanation-light {
    background-image: url('../../assets/barsect-light.png');
    background-size: cover;
    color: #222;
}

.barexplanation-dark {
    background-image: url('../../assets/barsect-dark.png');
    background-size: cover;
    color: #f8f7f0;
}

.goal {
    font-size: 1.5em;
    color: #b10b0b;
    text-align: center;
}

.figure-dark {
    color: #f8f7f0;
}

.figure-light{ 
    color: #222;
}