.pie-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.graph-dark {
    background-color: #222;
}

.graph-light {
    background-color: #f8f7f0;
}

.explanation-light {
    background-image: url('../../assets/piesect-light.png');
}

.explanation-dark {
    background-image: url('../../assets/piesect-dark.png');
    color: #f8f7f0;
}

.goal {
    font-size: 1.5em;
    color: #b10b0b;
    text-align: center;
}

tspan {
    font-weight: 500;
    font-size: large;
}

.figure-dark {
    color: #f8f7f0;
}

.figure-light{ 
    color: #222;
}