.pie-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.pie-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.explanation-dark {
    background-image: url('../../assets/piesect1-dark.png');
    color: white;
    background-size: cover;

}

.explanation-light {
    background-image: url('../../assets/piesect-light.png');
    color: #222;
}

.graph-dark {
    background-color: #222;
    background-image: url('../../assets/piesect2-dark.png');

}

.graph-light {
    background-color: #f8f7f0;
}

.left-txt {
    margin-left: 3em;
}

.goal {
    font-size: 1.5em;
    color: #b10b0b;
    text-align: center;
}


tspan {
    font-weight:500;
    font-size: large;
}

.figure-dark {
    color: #f8f7f0;
}